/* 1- kronika*/

#kronikat1 , #kronikat2 , #kronikat3
{
  padding-top: 0px;
  padding-left: 3%;
  margin-bottom: 30px;
}

#kronikat2 , #kronikat3
{
  display: none;
  padding-top: -20px;
}

.kronike 
{
  width: 235px;
  height: 420px;
  background-color: #c495b2;
  border-radius: 10px;
  box-shadow: 5px 10px 12px  #c495b2;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.kronike:hover 
{
  background-color: #c495b2;
  transform-style: preserve-3d;
  transform: scale(1.15);
  transition: all ease 0.5s;  
}

.kronike_title
{
  color: black;
  font-weight: bold;
  text-align: center;
}

.kronike:hover .kronike_title
{
  color: rgb(255, 255, 255);
}

.kronike img
{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 200px;
  width: 200px;
}

.kronike_text p 
{
  color: black;
  font-size: 13px;
  font-family: 'Lora', 'Times New Roman', Times, serif;
  padding-left: 20px;
  padding-right: 20px;
}


/* 1-kornika end*/


/* 2-lajmet*/

 #news
 {
  height: 300px;
  margin: 30px 30px;
  padding-bottom: 30px;
}

#fotoD
{
  position: absolute;
  left:540px;
  background-repeat: no-repeat;
  background-size: cover;  
}

#tekstM
{ 
  float: left;
  text-align: left;
  width: 500px;
  height: 300px;
  background: -webkit-linear-gradient(to right, #923b71, #c495b2, #c495b257); 
  background: linear-gradient(to right, #923b71, #c495b2, #c495b257); 
  position:absolute;
  overflow: auto;
}

#tekstM p 
{
  padding: 10px 20px 10px 20px;
}

#tekstM p a 
{
  text-decoration: none;
  color: #6a85c4;
  font-weight: bolder;
}

#tekstM p a:hover
{
  color: rgb(148, 3, 22);
}

#tekstM h1
{
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: -10px;
}

#fotoD img
{
  height: 300px;
  width: 500px;
}

#fotoD , #tekstM
{
  margin-left: 120px;
  margin-top: 30px;
}

/* 2-lajmet end*/

/* me shume / me pak storje*/

.buton
{ 
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#more , #less
{ 
  font-family: 'Lora', 'Times New Roman', Times, serif;
  background-color: #c495b2;
  border-radius: 5px;
  color: black;
  padding:5px 10px 5px 10px; 
  font-size: 20px;
  margin-right: 5px;
}

#less
{
  display: none;
  margin-left: 10px;
}

#more
{
  margin-right: 10px;
}

#more:hover , #less:hover
{
  color: #c495b2;
  background-color: transparent;
}

/* me shume / me pak storje*/